/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: white;
    background-color: grey;
}


header{
    height: 10vh;
    background-color: black;
    text-align: right;
    margin-top: rem;
}
.btn{
    border-radius: 5px;
    background-color: #4a4a4a;
    padding: 0.5rem;   
}
a {
    color: white;
    text-decoration: none;
  }

.margin-right{
    margin-right: 0.5rem;
}

main{
    height: 70vh;
    background-color: hotpink;

}

footer{
    height: 20vh;
    background-color: yellowgreen;
}