/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: white;
    background-color: grey;
}


header{
    height: 8vh;
    background-color: black;
    text-align: right;
    padding: 1rem;
}
.btn{
    border-radius: 5px;
    background-color: #4a4a4a;
    padding: 0.5rem;   
}
a {
    color: white;
    text-decoration: none;
}

.margin-right{
    margin-right: 0.5rem;
}

main{
    height: 80vh;
    background-color: hotpink;

}
footer{
    height: 12vh;
    background-color: #4a4a4a;
}
.wall-screens{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    width: 200px;
    height: 100px;
    background-color: blue;

    
}